:root {
    --offwhite: rgb(230, 230, 230);
    --offblack: rgba(19, 19, 21, 0.9);
    --gray: rgba(255, 255, 255, 0.5);
    --accent: rgb(207, 11, 11);
    --box-shadow: 0 .25vw 4vw;
    --section: rgba(19, 19, 21, 0.25);
}
  
* {
    padding: 0;
    margin: 0;
    /* border: 1px dotted blue; */
}

body, header, main, footer {
    display: flex;
    flex-direction: column;
}

header, main, footer {
    padding: 1rem;
}

/* typography */
/* - header */
header {
    text-align: center;
}

/* - contact info */
#contact-details h2 {
    font-size: 1rem;
    font-weight: 600;
}

#contact-details p {
    font-size: .9rem;
    /* padding-left: 1rem; */
}

#email {
    font-variant: normal;
}