/* BASE PALETTE & STYLES */
:root {
    --primary: #e6e6e6;
    --secondary: #9b97979c;
    --tertiary: #28282c;
    --quaternary: #cf0b0b;
    --transparent: rgba(22, 22, 26, 0.9);
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Mega', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-variant: small-caps;
    box-sizing: border-box;
  }
  
  *:hover, *::before *::after {
    box-sizing: border-box;
  }
  
  #password-generator {
    background-image: url('../images/large/password-generator.jpg');
  }
  
  #coding-quiz {
    background-image: url('../images/app-coding-quiz.jpg');
  }
  
  #css-portfolio {
    background-image: url('../images/app-professional-portfolio.jpg');
  }
  
  #escowinart {
    background-image: url('../images/app-escowinart.jpg');
  }
  
  #readme-generator {
    background-image: url('../images/app-readme-generator.jpg');
  }
  
  #solar-weather {
    background-image: url('../images/app-solar-weather.jpg');
  }
  
  #taskinator {
    background-image: url('../images/app-taskinator.jpg');
  }
  
  #smart-home {
    background-image: url('../images/app-smart-home.jpg');
  }
  
  #raven-home {
    background-image: url('../images/app-raven-home.jpg');
  }
  
  #auction-house {
    background-image: url('../images/app-auction-house.jpg');
  }
  
  .mobile-show {
    display: none;
  }
  
  a {
    text-decoration: none;
    transition-duration: 1s;
  }
  
  body {
    color: var(--tertiary);
    background-color: var(--secondary);
  }
  
  /* header & footer */
  header,
  footer {
    background-color: var(--tertiary);
    color: var(--primary);
  }
  
  header a,
  footer a {
    color: inherit;
  }
  
  header a:hover,
  footer a:hover {
    color: var(--quaternary);
    text-shadow: 5px 5px 20px var(--tertiary);
  }
  
  /* footer */
  footer {
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -5px 15px var(--tertiary);
    font-size: small;
  }
  
  .copyright {
    font-size: smaller;
    color: var(--secondary);
  }
  
  /*  header */
  header {
    justify-content: space-between;
    list-style: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    padding: 10px;
    box-shadow: 0 5px 15px var(--tertiary);
  }
  
  #header {
    display: flex;
    margin-bottom: .25vh;
    align-items: baseline;
  }
  
  #name {
    margin: 0;
    padding-right: 10px;
  }
  
  #title {
    padding-left: 10px;
    border-left: 2px solid var(--secondary);
    margin-left: 5px;
  }
  
  /* navigation */
  #navigation ul {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  /* main */
  #portfolio-main {
    display: inline-block;
    align-items: center;
    width: 100%;
  }
  
  main a {
    text-decoration: none;
    color: inherit;
  }
  
  main a:hover {
    color: var(--quaternary);
    text-shadow: 3px 3px 10px var(--quaternary);
  }
  
  .wrapper {
    padding: 10px 25px;
    background-color: var(--primary);
  }
  
  .subheaders {
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 5px 30px;
    border-radius: 0px 15px 15px 70px;
    box-shadow: 5px 5px 15px var(--tertiary);
  }
  
  #about-container {
    display: flex;
  }
  
  #about-container, .projects {
    padding: 2vh 0;
  }
  
  #profile-pic-container {
    width: fit-content;
    flex-shrink: 0;
    margin-right: 1vw;
  }
  
  #profile-pic {
    height: 15vw;
    border: 0.25rem solid var(--tertiary);
    border-radius: 50%;
    box-shadow: 3px 3px 10px var(--tertiary);
    transition-duration: 1s;
  }
  
  #profile-pic:hover {
    box-shadow: 3px 3px 25px var(--quaternary);
  }
  
  #about-text-container {
    flex-grow: 1;
  }
  
  #job-title {
    border-radius: 0px 15px 15px 70px;
  }
  
  .stack-container {
    display: flex;
    text-align: start;
    text-shadow: 10px 0 20px var(--tertiary);
    line-height: 1.5;
  }
  
  .stack {
    padding-left: 25px;
    padding-right: 20px;
  }
  
  .top {
    margin-top: 20px;
  }
  
  /* PROJECTS */
  .upper-left {
    border-radius: 70px 15px 15px 0;
  }
  
  .projects {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 23%);
    grid-gap: 1vw;
  }
  
  .project {
    display: flex;
    background-size: auto 100%;
    color: var(--primary);
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
    background-color: var(--tertiary);
    opacity: 95%;
    transition-duration: 2s;
    align-items: center;
    padding: 20% 0;
    opacity: 95%;
  }
  
  .project-text {
    background-color: var(--transparent);
    padding: .25vw 0 .25vw 2vw;
    width: 80%;
    box-shadow: 0 0 2vw var(--tertiary);
    transition: 1s;
    border-radius: 0 .25rem .25rem 0;
  }
  
  .project-text h3 {
    font-size: 1.15rem;
  }
  
  .project-text p {
    font-size: .75rem;
    padding-left: 1vw;
  }
  
  .project:hover {
    box-shadow: 10px 10px 40px var(--quaternary);
    opacity: 100%;
  }
  
  .project:hover .project-text {
    width: 100%;
    border-radius: 0;
    box-shadow: 5px 0 2vw var(--quaternary);
  }
  
  .highlight {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .highlight h3 {
    font-size: 1.5rem;
  }
  
  .highlight p {
    font-size: 1rem;
  }
  
  .contact-container {
    padding: 2% 0;
    justify-content: space-between;
    display: flex;
  }
  
  .contact-info {
    background-color: var(--tertiary);
    color: var(--primary);
    border-radius: 10px;
    padding: 1% 10%;
    box-shadow: 10px 10px 40px var(--tertiary);
  }
  
  .contact-info:hover {
    background-color: var(--secondary);
    box-shadow: 10px 10px 40px var(--quaternary);
  }
  
  /* display.tablet */
  @media screen and (max-width: 768px) {
    header {
      padding-bottom: .5vw;
    }
  
    #name {
      font-size: 1.5rem;
    }
  
    #title {
      font-size: 1.25rem;
    }
  
    .subheaders {
      font-size: 1.2rem;
    }
  
    .stack-container {
      display: block;
    }
  
    .code {
      padding-left: 4vw;
    }
  
    .projects {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5vw;
    }
  
    .project-text {
      font-size: 1rem;
    }
  
    .highlight .project-text {
      font-size: 1.5rem;
    }
  }
  
  /* display.mobile */
  @media screen and (max-width: 500px) {
    #password-generator {
      background-image: url('../images/small/password-generator.jpg');
    }
    #escowinart {
      background-image: url('../images/small/escowinart.jpg');
    }
  
    .mobile-show {
      display: block;
    }
  
    .mobile-hide {
      display: none;
    }
  
    header {
      padding: 1vw;
    }
  
    #header {
      margin-bottom: 1vw;
    }
  
    #name {
      font-size: 1.25rem;
    }
  
    #title {
      font-size: .8rem;
      border-left: 1px solid var(--secondary);
    }
  
    #navigation, .stack, .contact-container {
      font-size: .8rem;
    }
  
    .subheaders {
      border-radius: 70px 70px 10px 10px;
      font-size: 1.25rem;
    }
  
    #about h2 {
      border-radius: 10px 10px 70px 70px;
    }
  
    #about-container {
      display: block;
    }
  
    #profile-pic-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 2vw;
      padding: 0 2vw;
    }
  
    #profile-pic {
      width: 30vw;
      height: auto;
    }
  
    #profile-text-container {
      padding-left: 2vw;
      flex-grow: 1;
    }
  
    #about-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #job-title {
      justify-self: center;
      width: 95%;
      padding-left: 4vw;
      border-radius: 5px;
    }
  
    .stack-container {
      display: block;
    }
  
    .top {
      margin-top: 2.25vw;
    }
  
    .code {
      padding-left: 10vw;
      line-height: 1.25;
      font-size: .8rem;
    }
    /* to-do | grow template size while maintaining scale */
    .projects {
      grid-template-columns: repeat(3, 1fr);
      gap: 5vw;
    }
  
    .project {
      box-shadow: 0 10px 20px var(--tertiary);
      background-size: cover;
      /* background-position: center; */
    }
  
    .project:hover {
      box-shadow: 0 10px 30px 2px var(--quaternary);
    }
  
    .project-text {
      width: 95%;
      font-size: 80%;
    }
  
    .highlight {
      grid-column: span 2;
      grid-row: span 3;
    }
  
    .highlight .project-text {
      font-size: 1.25rem;
    }
  
    .contact-info {
      width: 25vw;
      padding: 1vw 2vw;
      text-align: center;
    }
  
    footer {
      padding: 5px 0;
    }
  
    footer h2 {
      font-size: 1rem;
    }
  }