/* screenshots.solo */
#address-book {
    background-image: url('../images/small/address-book.jpg');
}

#bluestrawberry {
    background-image: url('../images/small/bluestrawberry.jpg');
}

#coding-quiz {
    background-image: url('../images/small/coding-quiz.jpg');
}

#professional-portfolio {
    background-image: url('../images/small/css-portfolio.jpg');
}

#day-planner {
    background-image: url('../images/small/day-planner.jpg');
}

#escowinart {
    background-image: url('../images/small/escowinart.jpg');
}

#note-taker {
    background-image: url('../images/small/note-taker.jpg');
}

#password-generator {
    background-image: url('../images/small/password-generator.jpg');
}

#portfolio-generator {
    background-image: url('../images/small/portfolio-generator.jpg');
}

#readme-generator {
    background-image: url('../images/small/readme-generator.jpg');
}

#social-network {
    background-image: url('../images/small/social-network-api.jpg');
}

#solar-weather {
    background-image: url('../images/small/solar-weather.jpg');
}

#taskinator {
    background-image: url('../images/app-taskinator.jpg');
}

#team-profile-generator {
    background-image: url('../images/small/team-profile-generator.jpg');
}

#vvh-financial {
    background-image: url('../images/small/vvh-financial.jpg');
}

#weather-dashboard {
    background-image: url('../images/small/weather-dashboard.jpg');
}

/* screenshots.collabs */
#smart-home {
    background-image: url('../images/app-smart-home.jpg');
}

#raven-home {
    background-image: url('../images/app-raven-home.jpg');
}

#auction-house {
    background-image: url('../images/app-auction-house.jpg');
}

/* display.tablet */
@media screen and (min-width: 768px) {
    #address-book {
        background-image: url('../images/medium/address-book.jpg');
    }

    #coding-quiz {
        background-image: url('../images/medium/coding-quiz.jpg');
    }

    #note-taker {
        background-image: url('../images/medium/note-taker.jpg');
    }

    #portfolio-generator {
        background-image: url('../images/medium/portfolio-generator.jpg');
    }

    #team-profile-generator {
        background-image: url('../images/medium/team-profile-generator.jpg');
    }

    #vvh-financial {
        background-image: url('../images/medium/vvh-financial.jpg');
    }

    #weather-dashboard {
        background-image: url('../images/medium/weather-dashboard.jpg');
    }

}

/* display.desktop */
@media screen and (min-width: 1024px) {
    #address-book {
        background-image: url('../images/large/address-book.jpg');
    }

    #bluestrawberry {
        background-image: url('../images/large/bluestrawberry.jpg');
    }

    #coding-quiz {
        background-image: url('../images/large/coding-quiz.jpg');
    }

    #professional-portfolio {
        background-image: url('../images/large/css-portfolio.jpg');
    }

    #day-planner {
        background-image: url('../images/large/day-planner.jpg');
    }

    #escowinart {
        background-image: url('../images/large/escowinart.jpg');
    }

    #note-taker {
        background-image: url('../images/large/note-taker.jpg');
    }

    #password-generator {
        background-image: url('../images/large/password-generator.jpg');
    }

    #portfolio-generator {
        background-image: url('../images/large/portfolio-generator.jpg');
    }

    #readme-generator {
        background-image: url('../images/large/readme-generator.jpg');
    }

    #social-network {
        background-image: url('../images/large/social-network-api.jpg');
    }

    #solar-weather {
        background-image: url('../images/large/solar-weather.jpg');
    }

    #team-profile-generator {
        background-image: url('../images/large/team-profile-generator.jpg');
    }

    #vvh-financial {
        background-image: url('../images/large/vvh-financial.jpg');
    }

    #weather-dashboard {
        background-image: url('../images/large/weather-dashboard.jpg');
    }
}