/* BASE PALETTE & STYLES */
:root {
  --offwhite: rgb(230, 230, 230);
  --offblack: rgba(19, 19, 21, 0.9);
  --gray: rgba(255, 255, 255, 0.5);
  --accent: rgb(207, 11, 11);
  --box-shadow: 0 .25vw 4vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Lexend Mega', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-variant: small-caps;
}

/* scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* screenshots.solo */
#bluestrawberry {
  background-image: url('../images/small/bluestrawberry.jpg');
}

#coding-quiz {
  background-image: url('../images/app-coding-quiz.jpg');
}

#css-portfolio {
  background-image: url('../images/small/css-portfolio.jpg');
}

#day-planner {
  background-image: url('../images/small/day-planner.jpg');
}

#escowinart {
  background-image: url('../images/small/escowinart.jpg');
}

#password-generator {
  background-image: url('../images/small/password-generator.jpg');
}

#portfolio-generator {
  background-image: url('../images/small/portfolio-generator.jpg');
}

#readme-generator {
  background-image: url('../images/small/readme-generator.jpg');
}

#solar-weather {
  background-image: url('../images/small/solar-weather.jpg');
}

#taskinator {
  background-image: url('../images/app-taskinator.jpg');
}

#weather-dashboard {
  background-image: url('../images/small/weather-dashboard.jpg');
}

/* screenshots.collabs */
#smart-home {
  background-image: url('../images/app-smart-home.jpg');
}

#raven-home {
  background-image: url('../images/app-raven-home.jpg');
}

#auction-house {
  background-image: url('../images/app-auction-house.jpg');
}

.desktop {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
}

body {
  color: var(--offblack);
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
}

/* header & footer */
header,
footer,
.subheader,
.contact-info {
  color: var(--offwhite);
  background-color: var(--offblack);
}

footer {
  padding: 5px 0;
  text-align: center;
}

footer h2 {
  font-size: 1.25rem;
}

.copyright {
  font-size: .5rem;
}

header {
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 5px 15px var(--offblack);
  padding: 1vw;
}

#header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1vw;
}

#name {
  font-size: 1.25rem;
  padding-right: 10px;
}

#project {
  font-size: .8rem;
  margin-left: 1.15vw;
  padding-left: 2.5vw;
  border-left: 1px solid var(--gray);
  background-size: cover;
  background-position: center;
}

#navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: .8rem;
}

/* main */
#portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: .75rem 2.5vw;
  width: 100%;
}

.subheader {
  border-radius: 10px 10px 70px 70px;
  box-shadow: 5px 5px 15px var(--offblack);
  font-size: 1.25rem;
  padding: .75vw 5vw;
}

.upper-left {
  border-radius: 70px 15px 15px 0;
}

.content {
  padding: 2.5vw 0;
}

/* main.about */
#about-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2vw;
}

#about-pic-container {
  background-image: url('../images/profile.jpg');
  background-position: center;
  background-size: 100%;
  height: 9rem;
  width: 9rem;
  border-radius: 50% 50%;
  border: .25rem solid var(--offblack);
  box-shadow: var(--box-shadow) var(--offblack), inset var(--box-shadow) var(--offblack);
  display: flex;
  align-items: center;
  justify-items: center;
}

#about-pic-container p {
  color: var(--offwhite);
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0), var(--offblack));
  border-radius: 0 25rem 25rem 0;
  margin: -10% 0 0 0;
  padding: 0 0 0 1vw;
  width: 95%;
  text-shadow: 0 0 1vw var(--offblack);
  font-size: .9rem;
}

.period {
  color: var(--gray);
}

#about-text-container h3 {
  font-size: 1rem;
  text-shadow: 0 0 2vw var(--offblack);
}

#about-text-container h4 {
  font-size: .75rem;
  padding-left: .5vw;
  text-shadow: 0 0 5vw var(--offblack);
}

#about-text-container p {
  font-size: .75rem;
  word-spacing: .5rem;
  padding-left: 1rem;
}

/* main.projects */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.project {
  opacity: 95%;
  border-radius: 1rem;
  min-height: 35vh;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow) var(--offblack);
  transition: 1s;
  background-size: cover;
  background-position: center;
}

.project-text {
  color: var(--offwhite);
  background: linear-gradient(0.25turn, rgba(22, 18, 18, 0.437), var(--offblack));
  border-radius: 0 1rem 1rem 0;
  padding: .12rem 0 .12rem 1vw;
  width: 95%;
  height: 5rem;
  font-size: .9rem;
  text-shadow: 0 0 1vw var(--offblack);
  transition: 1s;
}

.project-text p {
  font-size: .75rem;
}

.highlight {
  grid-column: span 2;
  grid-row: span 2;
  background-size: cover;
}

.highlight .project-text {
  height: auto;
}

/* main.contact */
#contact-links {
  display: flex;
  justify-content: space-around;
}

.contact-info {
  padding: .75vh 3vw;
  border-radius: 1rem;
  box-shadow: var(--box-shadow) var(--offblack);
}

/* pseudo classes */
a:active,
a:hover {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--accent);
}

.project:active {
  box-shadow: var(--box-shadow) var(--accent);
  opacity: 100%;
}

.project:active .project-text,
.project:hover .project-text {
  width: 100%;
  border-radius: 0 .75rem .75rem 0;
}

/* display.tablet */
@media screen and (min-width: 768px) {
  #name {
    font-size: 1.5rem;
  }

  #project,
  #about-text-container h3 {
    font-size: 1.25rem;
  }

  #about-text-container h4 {
    font-size: 1rem;
  }

  #about-text-container p {
    font-size: .9rem;
  }

  #about-text-container div {
    padding-left: 1vw;
  }

  #about-pic-container p {
    margin: 0;
  }

  .project-text {
    height: auto;
  }

  .contact-info {
    padding: 1vw 5vw;
  }
}

/* display.small-desktop */
@media screen and (min-width: 1024px) {

  .desktop {
    display: contents;
  }
  
  /* screenshots */
  #bluestrawberry {
    background-image: url('../images/large/bluestrawberry.jpg');
  }

  #css-portfolio {
    background-image: url('../images/large/css-portfolio.jpg');
  }

  #day-planner {
    background-image: url('../images/large/day-planner.jpg');
  }
  
  #escowinart {
    background-image: url('../images/large/escowinart.jpg');
  }

  #password-generator {
    background-image: url('../images/large/password-generator.jpg');
  }

  #portfolio-generator {
    background-image: url('../images/large/portfolio-generator.jpg');
  }

  #readme-generator {
    background-image: url('../images/large/readme-generator.jpg');
  }

  #solar-weather {
    background-image: url('../images/large/solar-weather.jpg');
  }

  #weather-dashboard {
    background-image: url('../images/large/weather-dashboard.jpg');
  }

  #about .content {
    padding: 1vw 0;
  }

  header {
    padding: .5vw 1vw;
  }

  #header {
    margin-bottom: .25vw;
  }

  #project {
    font-size: 1rem;
    padding-left: 1.25vw;
    margin-left: .75vw;
  }

  #navigation ul {
    font-size: 1rem;
  }

  .copyright {
    font-size: .75rem;
  }

  .subheader {
    padding: .25vw 2.5vw;
  }

  #about-pic-container p {
    font-size: 1.125rem;
    margin-top: -10%;
    padding-left: .25vw;
    padding-right: 2vw;
    width: 90%;
  }

  #about-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1vw;
    align-items: center;
  }

  #about-text-container {
    grid-column: span 4;
  }

  #about-pic-container {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0 2vw;
  }

  #about-text-container {
    margin-top: -2.5%;
  }

  .projects {
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
  }

  .project {
    min-height: 25vh;
  }

  .project-text {
    width: 80%;
  }

  #contact-links {
    justify-content: space-between;
  }
}

/* display.large-desktop */
@media screen and (min-width: 1440px) {
  #name {
    font-size: 1.75rem;
  }

  #navigation ul,
  .subheader,
  #about-pic-container p,
  #about-text-container h3,
  .project-text h3 {
    font-size: 1.5rem;
  }

  #about-text-container h4 {
    font-size: 1.25rem;
  }

  #about-text-container p,
  .project-text p {
    font-size: 1.125rem;
  }
}