/* BASE PALETTE & STYLES */
:root {
  --offwhite: rgb(230, 230, 230);
  --offblack: rgb(40, 40, 44);
  --gray: rgba(155, 151, 151, 0.612);
  --quaternary: rgb(207, 11, 11);
  --transparent: rgba(22, 22, 26, 0.9);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Mega', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-variant: small-caps;
  box-sizing: border-box;
}

*:hover, *::before *::after {
  box-sizing: border-box;
}

#password-generator {
  background-image: url('../images/large/password-generator.jpg');
}

#coding-quiz {
  background-image: url('../images/app-coding-quiz.jpg');
}

#css-portfolio {
  background-image: url('../images/app-professional-portfolio.jpg');
}

#escowinart {
  background-image: url('../images/app-escowinart.jpg');
}

#readme-generator {
  background-image: url('../images/app-readme-generator.jpg');
}

#solar-weather {
  background-image: url('../images/app-solar-weather.jpg');
}

#taskinator {
  background-image: url('../images/app-taskinator.jpg');
}

#smart-home {
  background-image: url('../images/app-smart-home.jpg');
}

#raven-home {
  background-image: url('../images/app-raven-home.jpg');
}

#auction-house {
  background-image: url('../images/app-auction-house.jpg');
}

a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
}

body {
  color: var(--offblack);
  background-color: var(--offwhite);
  display: flex;
  flex-direction: column;
}

/* header & footer */
header,
footer,
.subheaders {
  color: var(--offwhite);
  background-color: var(--offblack);
}

header a:active,
header a:hover,
footer a:active,
footer a:hover {
  color: var(--quaternary);
  text-shadow: var(--gray);
}

footer {
  padding: 5px 0;
  text-align: center;
}

header {
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 5px 15px var(--offblack);
  padding: 1vw;
}

#header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1vw;
}

#name {
  font-size: 1.25rem;
  padding-right: 10px;
}

#project {
  font-size: .8rem;
  border-left: 1px solid var(--gray);
  margin-left: 1.15vw;
  padding-left: 2.5vw;
}

#navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: .8rem;
}

/* main */
#portfolio-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  padding: 10px 25px;
}

.subheaders {
  border-radius: 10px 10px 70px 70px;
  box-shadow: 5px 5px 15px var(--offblack);
  font-size: 1.25rem;
  padding: 5px 30px;
}

/* .content-cotainer {

} */


#profile-pic {
  height: 50vw;
  border-radius: 50%;
  border: 3px solid var(--offblack);
}
