/* BASE PALETTE & STYLES */
:root {
  --offwhite: rgb(230, 230, 230);
  --offblack: rgba(19, 19, 21, 0.9);
  --gray: rgba(255, 255, 255, 0.5);
  --accent: rgb(207, 11, 11);
  --box-shadow: 0 .25vw 4vw;
  --section: rgba(19, 19, 21, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Lexend Mega', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-variant: small-caps;
}

/* hidden */
body::-webkit-scrollbar,
.desktop {
  display: none;
}

/* flex*/
body,
footer,
#header,
#navigation ul,
#portfolio-main,
#about-pic-container,
.project,
#contact-links {
  display: flex;
}

body,
main,
footer {
  flex-direction: column;
}

header,
#contact-links,
#navigation ul {
  justify-content: space-between;
}

.project,
footer,
#about-pic-container {
  align-items: center;
}

/* grid */
.projects,
#about-container {
  display: grid;
}

#about-container {
  grid-template-columns: repeat(2, auto);
  gap: 2vw;
}

.projects {
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
}

/* box styles */
body {
  color: var(--offblack);
  background-color: var(--offwhite);
}

/* header & footer */
header,
footer,
.subheader,
.contact-info {
  color: var(--offwhite);
  background: linear-gradient(var(--offblack), var(--offblack)),
    fixed url('../images/small/readme-generator.jpg');
}

footer {
  padding: 5px 0;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 5px 15px var(--offblack);
  padding: 1vw;
}

#header {
  align-items: baseline;
  margin-bottom: 1vw;
}

#project {
  margin-left: 1.15vw;
  padding-left: 2.5vw;
  border-left: 1px solid var(--gray);
  background-size: cover;
  background-position: center;
}

#navigation ul {
  list-style: none;
}

/* main */
.section {
  padding-left: .75rem;
  width: 100%;
}

.subheader {
  border-radius: 70px 0 0 0;
  box-shadow: 5px 5px 15px var(--offblack);
  padding: .75vw 5vw;
}

.content {
  margin: 2.5vw 0;
}

/* main.about */
#about {
  margin-top: .75rem;
  background: linear-gradient(65deg, transparent 50vw, var(--section));
}

#about-pic-container {
  background-image: url('../images/profile.jpg');
  background-position: center;
  background-size: 100%;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  border: .25rem solid var(--offblack);
  box-shadow: inset var(--box-shadow) var(--offblack);
  margin-top: .75rem;
}

#about-pic-container p {
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0), var(--offblack));
  border-radius: 0 25rem 25rem 0;
  margin: -10% 0 0 0;
  padding: 0 0 0 1vw;
  width: 97.5%;
  box-shadow: .25vw 0 1rem var(--offblack);
}

#name {
  padding-right: 10px;
}

/* main.projects */
.project {
  opacity: 95%;
  border-radius: 1rem;
  min-height: 35vh;
  transition: 1s;
  background-size: cover;
  background-position: center;
}

.project-text {
  color: var(--offwhite);
  background: linear-gradient(0.25turn, rgba(22, 18, 18, 0.65), var(--offblack));
  border-radius: 0 1rem 1rem 0;
  padding: .12rem 0 .12rem 1vw;
  width: 95%;
  min-height: 5rem;
  text-shadow: 0 0 1vw var(--offblack);
  transition: 1s;
}

.highlight {
  grid-column: span 2;
  grid-row: span 2;
  background-size: cover;
}

.highlight .project-text {
  height: auto;
}

/* main.contact */

.contact-info {
  padding: .75vh 3vw;
  border-radius: 1rem;
}

#linkedin-btn {
  border-radius: 1rem 0 0 1rem;
}

/* typography */
a {
  color: inherit;
  text-decoration: none;
  transition: 1s;
}

#about-pic-container p {
  color: var(--offwhite);
  text-shadow: 0 0 1vw var(--offblack);
}

#about-text-container h4 {
  padding-left: .5vw;
  text-shadow: 0 0 2rem var(--offblack);
}

#about-text-container p {
  word-spacing: .5rem;
  padding-left: 1rem;
  text-shadow: 0 0 1.25rem var(--offblack);
}

.subheader,
#name,
footer h2 {
  font-size: 1.25rem;
}

#about-text-container h3 {
  font-size: 1rem;
  text-shadow: 0 0 2vw var(--offblack);
}

.project-text,
#about-pic-container p {
  font-size: .9rem;
}

#project,
#navigation ul {
  font-size: .8rem;
}

.project-text p,
#about-text-container h4,
#about-text-container p {
  font-size: .75rem;
}

.copyright {
  font-size: .5rem;
}

/* pseudo classes */
a:active,
a:hover {
  color: var(--accent);
  text-shadow: 0 0 1vw var(--accent);
}

.project:active {
  opacity: 100%;
}

.project:active .project-text,
.project:hover .project-text {
  width: 100%;
  border-radius: 0 .75rem .75rem 0;
}


/* display.tablet */
@media screen and (min-width: 768px) {
  header,
  footer,
  .subheader,
  .contact-info {
    color: var(--offwhite);
    background: linear-gradient(var(--offblack), var(--offblack)),
      fixed url('../images/small/solar-weather.jpg');
  }

  #name {
    font-size: 1.5rem;
  }

  #project,
  #about-text-container h3 {
    font-size: 1.25rem;
  }

  #about-text-container h4 {
    font-size: 1rem;
  }

  #about-text-container p {
    font-size: .9rem;
  }

  #about-text-container div {
    padding-left: 1vw;
  }

  #about-pic-container p {
    margin: 0;
  }

  .project-text {
    height: auto;
  }

  .contact-info {
    padding: 1vw 5vw;
  }
}

/* display.small-desktop */
@media screen and (min-width: 1024px) {

  header,
  footer,
  .subheader,
  .contact-info {
    color: var(--offwhite);
    background: linear-gradient(var(--offblack), var(--offblack)),
      fixed url('../images/large/solar-weather.jpg');
  }

  .desktop {
    display: contents;
  }

  .desktop-hide {
    display: none;
  }

  /* header */
  header {
    display: flex;
    padding: .5vw 1vw;
    align-items: center;
  }

  #header {
    margin-bottom: .25vw;
  }

  /* flow */
  #portfolio-main {
    display: grid;
    grid-template-areas:
      "a b"
      "c c"
      "d d";
    grid-template-columns: auto 1fr;
    align-items: baseline;
  }

  /* about section */
  #about-container,
  #contact-container {
    margin: 1.5vw 0 2vw 0;
  }

  #about {
    grid-area: b;
    height: 100%;
    padding-left: 0;
  }

  #about-container {
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 1rem 0 1.5rem;
  }

  #about .subheader {
    border-radius: 0;
  }

  #about-pic-container {
    --ratio: 10rem;
    width: var(--ratio);
    height: var(--ratio);
  }

  #about-pic-container p {
    display: none;
  }

  #about-text-container h3 {
    font-size: 1.45rem;
  }

  #about-text-container h4 {
    font-size: 1.25rem;
  }

  #about-text-container p {
    font-size: 1rem;
    align-self: flex-end;
  }

  /* section.contact */
  #contact {
    grid-area: a;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #contact-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0;
    justify-content: space-evenly;
    margin: 0;
  }

  .contact-info {
    display: flex;
    padding: .5vw 2vw;
    align-items: center;
  }

  #linkedin-btn {
    border-radius: 1rem;
    margin-bottom: 0;
  }

  .contact-info i {
    padding-right: .5rem;
  }

  #solo-work {
    grid-area: c;
  }

  #collaborations {
    grid-area: d;
  }

  #project {
    font-size: .75rem;
    padding-left: 1.25vw;
    margin-left: .75vw;
  }

  #navigation ul {
    font-size: 1rem;
  }

  .copyright {
    font-size: .75rem;
  }

  .subheader {
    padding: .25vw 2.5vw;
  }

  .projects {
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
  }

  .project {
    min-height: 22.5vh;
  }

  .project-text {
    width: 90%;
  }

  .project-text h3 {
    font-size: 1rem;
  }

  .project-text p {
    font-size: .7rem;
  }
}